<div class="actions">
    <% if (typeof submitButton !== 'undefined') { %>
        <input type="submit" value="<%= submitButtonText %>" class="button" />
    <% } %>
    <%- include(
        `${root}/views/partials/button`,
        { link: deleteButtonLink, text: typeof deleteButtonText === 'undefined' ? 'Delete' : deleteButtonText, color: 'red' })
    %>
</div>
