    </div>
    <div class="credits">
        <a href="https://www.freepik.com/free-photo/blank-list-planner-with-checklist-black-pen-white-background-close-up_8487224.htm#query=shoppinglist&position=45&from_view=search&track=sph">Image by lcd2020</a> on Freepik
    </div>
</div>
