<form class="form">
    <h3>New shopping list</h3>
    <div class="form-content">
        <input name="id" type="text" value="909090" required />
        <textarea name="list" placeholder="Cheese, Bread, Water, ..." required></textarea>
    </div>
    <%- include(
        `${root}/views/partials/actionsMenu`,
        { deleteButtonLink: '/', deleteButtonText: 'Cancel', submitButton: true })
    %>
</form>
