<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include(`${root}/views/partials/head`, { title: 'Shopping Lists - Login', cssFile: 'auth.css', jsFile: 'auth.js' }) %>
    </head>
    <body>
        <%- include(`${root}/views/partials/layoutOpen`) %>
            <div class="lists-container">
                <%- include(`${root}/views/partials/authForm`, { register: register }) %>
            </div>
        <%- include(`${root}/views/partials/layoutClose`) %>
    </body>
</html>
